body {
    margin: 0;
}

div {
    width: 100%;
    height: 100%;

}

.div1, .div2, .div3 {
    font-size: 10px;
    width: 40%;
    height: 200px;
    box-sizing: border-box;
}

.div1 {
    width: 100%;
    background-color: black;
    display: inline-block;
}

.div2 {
    width: 100%;
}

.div3 {
    width: 100%;
    text-align: center;
    padding: 50px 20%;
    color: black;
}

.div4 {
    width: 100%;
    height: 100%;
    background-image: url(./images/space.jpeg);
    background-position-y: -80px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 500px; 
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}